In [2]:
#Import necessary libraries for data cleaning and processing
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split

In [43]:
#Import the dataset
df = pd.read_csv("Dataset_ATS_v2.csv")  
#Rename some columns to keep the consistency
df.rename(columns={'gender': 'Gender', 'tenure': 'Tenure'}, inplace=True)

#df.info()
#df.isna().sum()
#df.duplicated()

#Convert 'yes/no' values to binary (1/0) for consistency in data processing  
df[['Dependents', 'PhoneService', 'MultipleLines','Churn']] = df[['Dependents','PhoneService', 'MultipleLines', 
                                                                  'Churn']].replace({'No': 0, 'Yes': 1})
#Encoude categorical values
#df = pd.get_dummies(df, columns=['Gender', 'Contract' ,'InternetService'], drop_first=True)
df.head()

#Split df to training and testing set
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

,Gender,SeniorCitizen,Dependents,Tenure,PhoneService,MultipleLines,InternetService,Contract,MonthlyCharges,Churn
0,Female,0,0,1,0,0,DSL,Month-to-month,25,1
1,Male,0,0,41,1,0,DSL,One year,25,0
2,Female,0,1,52,1,0,DSL,Month-to-month,19,0
3,Female,0,0,1,1,0,DSL,One year,76,1
4,Male,0,0,67,1,0,Fiber optic,Month-to-month,51,0